@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container{
	width: 1320px;
	margin: auto;
	position: relative;
}
.marquee{
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --item-font-size: 10vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
    background-color: #CCFFCC;
  
}

.marquee__inner{
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial),0,0);
  animation: marquee 5s linear infinite;
/*   animation-play-state: paused;
 */}

.marquee span{
  white-space: nowrap;
  font-size: 60px;
  color: #00af79;
  padding: 0 5px;
}

/* .marquee:hover .marquee__inner{
  // animation-play-state: running;
	// opacity: 1;
	// transition-duration: 0.4s;
} */

@keyframes marquee {
  0% {
  transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
   transform: translate3d(var(--move-final), 0, 0);
  }
}

a{
	text-decoration: none;
}
.abox{
	position:relative;
}
.htext{
	color: gray;
	padding: 8% 27%;
	font-size: xx-large;
	position:absolute;
 	visibility:hidden;
}
.abox:hover{
	opacity: 0.7;
}
.abox:hover .htext{
	visibility: visible;
}
ul, li{
	list-style: none;
	display: list-item;
    text-align: -webkit-match-parent;
}
table{
	border-spacing: 0;
}
.main1, .main2, .main3{
	overflow: hidden;
    position: relative;
    padding: 5px;
	margin: 40px 0 0 5px;
	text-align: center;
	color: #00af79;
}
.main1{
	height: 400px;
}
.main2, .main3{
	height: 600px;
}
.main1_1, .main2_1, .main3_1{
	overflow: visible;
    position: absolute;
    left: 50%;
    padding: 5px;
    margin-left: -480px;
	display: block;
	width: 100%;
    border-bottom: 0;
    color: gray;
}
.card-title{
	color: gray;
	font-size: large;
}
.bbest-text, .card-text{
	color: gray;
	width: 250px;
	height: 2;
	text-overflow: ellipsis;
}
.main2_1 li, .main3_1 li{
	height: 420px;
	float: left;
	text-align: left;
	padding: 10px;
	margin-left: 10px;
}

.mainimage{
	float: left;
	position: relative;
	padding: 10px;
	margin: 10px;
	width: auto;
	height: 300px;
}
.clear{
	clear:both;
}
.boardc1, .boardc2, .boardc3, .boardf1, .boardf2 , .boardf3{
	display: none;
}
#pixel-canvas1, #pixel-canvas2, #pixel-canvas3{
	width: 300px;
	height: 300px;
	margin: 10px 0;
}
.read{
	font-size: small;
	color: white;
	background-color: red;
	padding: 1px 5px;
	border: 1px solid red;
	border-radius: 10px;
	
}
